.paginate {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  cursor: pointer;

  .active {
    width: 38px;
    text-align: center;
    border: 1px solid #A790C6;
    background: #A790C6;
    border-radius: 50%;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
  }
}