@import '../../../assets/variable';

.paginate {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  cursor: pointer;

  &__span {
    text-align: center;

    &_active {
      width: 38px;
      text-align: center;
      border: 1px solid $px-purple;
      background: $px-purple;
      border-radius: 50%;
      font-weight: 500;
      font-size: 24px;
      color: $px-white;
    }
  }
}