.modal-error {
  display: flex;
  position: fixed;
  z-index: 2;

  &_position {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &::after {
    position: fixed;
    content: "";
    display: block;
    background-color: rgba(47, 53, 59, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__text {
    position: absolute;
    left: 30%;
    bottom: 50%;
    z-index: 3;
    font-size: 2rem;
    color: #fff
  }
}

@media (max-width: 992px) {
  .modal-error {

    &__text {
      left: 20%;
    }
  }
}

@media (max-width: 768px) {
  .modal-error {

    &__text {
      left: 10%;
    }
  }
}