.main {
  height: 100%;

  &__header {
    margin-bottom: 15px;
    text-align: center;
  }

  &__items {
    display: grid;
    justify-content: center;
  }

  &__panel {
    display: grid;
    grid-auto-rows: auto;
  }
}

.logo {
  width: 50px;
  height: 50px;

  &_center {
    margin: 0 auto;
  }

  &__img {
    width: 100%;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main {
    display: grid;

    &__header {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;
      justify-items: start;
      align-items: end;
    }

    &__panel {
      grid-template-columns: repeat(2, 1fr);
      order: 2
    }
  }

  .logo {
    &_center {
      margin: 0;
    }

    &_end {
      justify-self: end;
    }
  }
}

@media (max-width: 576px) {
  
}