@import '../../assets/variable';

.cost-wallet {
  background: $px-white;
  box-shadow: 0px 4px 6px $px-skyBlue;
  border-radius: 20px;

  &_mr {
    margin: 20px 0;
    padding: 15px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    height: 100%;
    background: $px-body;
    box-shadow: inset 0px 0px 8px 1px $px-shadow;
    border-radius: 20px;
    padding: 20px;
  }

  &__balance {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 1.8rem;
  }

  &__cost {
    justify-self: end;
    font-weight: 500;
    font-size: 1.8rem;
    color: $px-green;
  }

  &__delete {
    height: 100%;
  }

  &__coins {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 50px;
    grid-auto-rows: auto;
    column-gap: 5px;
    row-gap: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  &__name-currency {
    color: $px-green
  }

  &__count-currency {
    justify-self: center;
  }

  &__cost-currency {
    justify-self: end;
  }
}

.btn {
  &_delete {
    width: 100%;
    height: 48px;
    background: #A790C6;
    border-radius: 10px;
    border-color: #A790C6;
    color: $px-white;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      background: #61339c;
      border-color: #61339c;
      color: $px-white;
    }
  }
}

@media (max-width: 1200px) {
  .cost-wallet {
    &__cost {
      font-size: 1.8rem;
    }

    &__group {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 992px) {
  .cost-wallet {
    border-radius: 10px;

    &__title {
      font-size: 1.4rem;
    }

    &__cost {
      font-size: 1.4rem;
    }

    &__group {
      font-size: 1.3rem;
    }
  }

  .btn {
    &_delete {
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
    }
  }

}

@media (max-width: 768px) {

  .cost-wallet {
    &__wrapper {
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
    }

    &_mr {
      margin: 0;
      padding: 10px;
    }

    &__title {
      font-size: 1.2rem;
    }

    &__cost {
      font-size: 1.0rem;
    }

    &__group {
      font-size: 1.0rem;
    }
  }

  .btn {
    &-danger {
      padding: 4px;
    }

    &_delete {
      height: 100%;
      border-radius: 4px;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 576px) {
  .cost-wallet {
    &_mr {
      padding: 0;
    }

    &__balance {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-items: center;
    }

    &__title {
      font-size: 1.2rem;
    }

    &__cost {
      font-size: 0.8rem;
    }

    &__group {
      font-size: .9rem;
    }
  }
}