.header {
  display: grid;
  grid-template-columns: 1fr 340px;
  column-gap: 10px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px #CAD6F3;
  border-radius: 20px;
  color: #323232;

  &__money {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;

    div {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      align-self: center;

      .element {
        text-align: center;
        font-weight: 500;
        color: #A790C6;
      }
    }
  }

  &__profile {
    display: grid;
    grid-template-columns: 1fr 62px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    &__avatar {
      width: 100%;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &__targets {
      display: grid;
      justify-items: center;
      color: #27AE60;
    }
  }
}