@import '../../../assets/_variable';

.item {
  display: grid;
  grid-template-columns: 1fr 40px;
  column-gap: 10px;
  align-items: center;
  background-color: $px-white;
  border-radius: 8px;

  &_mb {
    margin-bottom: 15px;
  }

  &_pd {
    padding: 5px;
  }

  &_bg {
    background: $px-body;
    box-shadow: inset 0px 0px 8px 1px $px-shadow;
  }


  &__link {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    text-decoration: none;
    align-items: center;
  }

  &__symbol {
    font-weight: 600;
    color: $px-green;
  }

  &__text {
    color: $px-text;
    font-weight: 500;
  }

  &__cost {
    color: $px-black;
    font-weight: 600;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .item {
    &__link {
      grid-template-columns: 1fr 100px;
      align-items: center;
    }

    &__symbol {
      display: none;
    }
  }

}