$px-text: #323232;
$px-purple: #A790C6;
$px-green:#27AE60;
$px-grey: #6c757d;
$px-skyBlue: #CAD6F3;
$px-bg: #EDF2FF;
$px-white: #fff;
$px-black: #000;
$px-shadow: rgba(202, 214, 243, .6);
$px-body: rgba(249, 250, 253, .5);